<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="justify-content to center">
      <div class="col-4">
        <p class="text-center"><i>Hi there! I'm Shiban,</i></p>
      </div>
    </div> 
      <div class="row">
        <div class="col-4 col-lg-offset-2">
          <p>
            An MSc Data Science graduate with a passion for uncovering insights and driving results. I specialize in turning data into actionable strategies using tools like Excel, SQL, Python, Tableau, and Power BI.
          </p>
        </div>
        <div class="col-lg-4">
          <p>
            From predictive modeling to dynamic visualizations, I thrive on solving complex problems with data-driven solutions. Let’s connect to discuss how I can help your team make smarter decisions and achieve impactful outcomes!
          </p>
       </div>
     </div>
</section>
